.rooms-divider {
	width: 100%;
	height: 0;
	border: none;
	border-top: 2px dashed #fff;
	margin: 2.2rem 0 2.7rem 0;
	opacity: 0.95;
}

.rooms-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.5rem;
}
.rooms-new-btn {
	min-width: 180px;
	font-weight: bold;
}
